#centar1{
    text-align: center;
}

#tekstONAMA{
    text-align: center;
    margin-top: 20px;
    background-color: #f2f6ff;
    padding:2%;
}

#tekst2{
    text-align: justify;
    font-size: large;
    font-weight: 400;
}

#slike{
    padding: 10px;
}

h4{
    text-align: center;
}

#unos{
    padding: 2%;
}

#enterijer{
    text-align: justify;
    font-size: large;
    font-weight: 400;
}